body {
  font-family: helvetica neue, sans-serif;
}

img {
  max-width: 100%;
  border-radius: 10px;
}

.wrapper {
  list-style: none;
  margin: 0;
  padding: 0;
}

.wrapper li {
  box-sizing: border-box;
  padding: 1em;
  min-width: 1%;
}

@media screen and (min-width: 500px) {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .wrapper li:nth-child(1) {
    grid-column: 1 / 3;
  }
}

@media screen and (min-width: 640px) {
  .wrapper {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .wrapper li:nth-child(1) {
    grid-column: 2;
    grid-row: 1 / 3;
  }

  .wrapper li:nth-child(2) {
    grid-column: 3;
    grid-row: 2;
  }

  .wrapper li:nth-child(3) {
    grid-column: 1;
    grid-row: 1;
  }

  .wrapper li:nth-child(4) {
    grid-column: 3;
    grid-row: 1;
  }
  
  .wrapper li:nth-child(5) {
    grid-column: 1;
    grid-row: 2;
  }
}